:root{
    --main-color: #2AAEE7;
    --white-color: #fff;
    --font-header: 36px;
    --font-content: 24px;
    --main-font: 16px;
}

@font-face {
    font-family: 'MyFont';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(fonts/font400.woff2) format('woff2');
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    font-family: 'Play', sans-serif;
}

html{
    width: 80%;
    color: var(--white-color);
    background-color: #1F1F1F;
    margin-left: auto;
    margin-right: auto;
} 

a{
    text-decoration: none;
    color: #fff;
}

.row{
    display: flex;
    flex-wrap: wrap;
}
/* ------------------Bio---------------------- */
#header{
    display: flex;
    margin: 50px 0 30px 0;
    justify-content: center;
} 

.avatar{
   margin-right: 40px;
}

.avatar picture, .photo{
    height: 160px;
    border-radius: 5px 5px;
}

.Info h1{
    font-size: var(--font-header);
    margin-bottom: 20px;
}

.Info h2{
    font-size: var(--font-content);
    margin-bottom: 15px;
    color: var(--main-color);
}

.contacts{
    font-size: var(--main-font);
}

.contacts ul{
    list-style-type: none;
    font-size: var(--main-font);
}

.contacts ul:first-child{
    margin-right: 50px;
}

.contacts ul li{
    margin-bottom: 6px;
}

.contacts ul i{
    margin-right: 10px;
    color: var(--main-color);
}

/* -------------------Education--------------------- */

.section-header{
    display: flex;
}

.section-header i{
    margin-top: 5px;
    color: var(--main-color);
    margin-right: 10px;
}

.section-header h1{
    width: 100%;
    font-size: var(--font-content);
    font-weight:200;
    letter-spacing: 3px;
    border-bottom: #333 solid 1px;
}

.section-content{
    display: flex;
    margin-top: 30px;
}

.section-content-left{
    margin-left: 100px;
    padding-right: 20px;
    position: relative;
    height: 150px;
    line-height: 120px;
    flex: 1;
    border-right: #fff solid 3px;
}

.section-content-left .elipse{
    position: absolute;
    top: 50px;
    left: calc(100% - 8px);
    background: #fff;
    border-radius: 50%;
    height: 20px;
    width: 20px;
}

.section-content-left .arrow-down{
    position: absolute;
    top: calc(100% - 60px);
    left: calc(100% - 5px);
}

.section-content-right{
    flex: 13;
    margin-left: 50px;
    margin-top: 40px;
}

.section-content-right h1{
    margin: 10px 0;
    font-size: var(--font-content);
    color: var(--main-color);
}

.section-content-right p{
    font-size: var(--main-font);
    margin-bottom: 10px;
}
/* ---------------Skill----------------- */
.skills{
    margin: 50px 0;
}

.skills h2{
    margin-left: 100px;
    font-size: var(--font-content);
    margin-bottom: 20px;
}
/* ----------Circle---------- */
.flex-wrapper {
    display: flex;
    flex-flow: row nowrap;
    margin: 0 15%;
}
  
.single-chart {
    width: 33%;
    justify-content: space-around ;
    font-size: var(--main-font);
    text-align: center;
}

.circular-chart {
    display: block;
    margin: 12px auto 20px auto;
    max-width: 60%;
    max-height: 250px;
}
  
.circle {
    fill: none;
    stroke-width: 2.8;
    stroke-linecap: round;
    animation: progress 1s ease-out forwards;
}
  
@keyframes progress {
    0% {
      stroke-dasharray: 0 100;
    }
}
  
.percentage {
    fill: #ccc;
    font-size: 0.4em;
    text-anchor: middle;
}

/* ----------End Circle---------- */

/* -------------------Exp-------------------- */
.exp{
    display: flex;
    justify-content: space-between;
    margin: 20px 100px;
}

.exp img{
    width: calc((100% - 20px)/2);
    cursor: pointer;
}

footer{
    text-align: center;
}

footer h1{
    font-size: var(--font-content);
    margin: 10px;
}

footer p{
    font-size: var(--main-font);
    color: #9E9E9E;
    margin-bottom: 10px;
}

footer button{
    width: 200px;
    height: 50px;
    border-radius: 10px;
    background: linear-gradient(0deg,#3C1DFF 0%, #15B9B9 100%);
    margin-bottom: 50px;
    border: none;
}

footer a{
    color: #fff;
    font-size: 16px;
    text-decoration: none;
}

@media (max-width: 420px){
    :root{
        --main-color: #2AAEE7;
        --white-color: #fff;
        --font-header: 28px;
        --font-content: 24px;
        --main-font: 16px;
    }
    /* ------------------Bio---------------------- */     
    #header{
        position: relative;
        height: 300px;
    }   
    
    .avatar{
        margin-right: 20px;
    }

    .avatar img{
        width: 120px;
    }

    .Info h1{
        font-size: var(--font-header);
        margin-bottom: 10px;
    }
    
    .contacts{
        position: absolute;
        font-size: var(--main-font);
        bottom: 10px;
        left: 20px;
    } 
    /* -------------------Education--------------------- */    
    .section-content-left{
        margin-left: 30px;
        padding-right: 20px;
    }
    .section-content-right{
        flex: 13;
        margin-left: 20px;
        margin-top: 20px;
    }

    /* ---------------Skill----------------- */
    .skills{
        margin: 20px 0 50px 0;
    }
    /* ----------Circle---------- */
    .flex-wrapper {
        display: flex;
        flex-wrap: wrap;
        margin: 0;
        gap: 10px; 
        width: 100%;
    }
      
    .single-chart{
        width: calc(50% - 5px);
    }

    .single-chart p{
        font-size: 12px;
    }
    
    /* ----------End Circle---------- */
    
    /* -------------------Exp-------------------- */
    .exp{
        display: flex;
        justify-content: space-between;
        margin: 20px 0 0 0;
    }
}