body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    margin-bottom: 20px;
}

ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Căn giữa các item */
    gap: 10px; /* Khoảng cách giữa các item */
}

li {
    list-style-type: none;
}

button {
    padding: 10px 15px;
    background-color: #007bff; /* Màu ban đầu */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s; 
}

button:hover {
    background-color: #0056b3;
}

/* Lớp cho trạng thái đã nhấn */
.hidden {
    display: none; /* Ẩn button */
}